<ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a>Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol>
      <!-- Icon Cards-->
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-picture-o"></i>
              </div>
              <div class="mr-5">Students Details!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" ui-sref="dashbord.students">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-picture-o"></i>
              </div>
              <div class="mr-5">Teachers Details!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" ui-sref="dashbord.teachers">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>       
      </div>